*, :before, :after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #c6c9ff;
    color: #fdff78;
}

.background {
    position: relative;
    margin: auto;
    width: 900px;
    height: 750px;
    background-color: #000043;
    box-shadow: 1px 1px 8px black;
}

.backgroundLights {
    position: absolute;
    width: inherit;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
    visibility: hidden;
}

.snow {
    background-image: url("../images/image/snow1.png"), url("../images/image/snow2.png"), url("../images/image/snow3.png");
    animation: snow 20s linear infinite;
}

@keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
}

.header {
    padding: 20px;
    text-align: center;
    display: block;
}

.info {
    text-align: center;
    padding: 0 50px;
    display: block;
}

.info p:first-child {
    margin-top: 0;
}

.info p:last-child {
    font-weight: 600;
}

.box {
    position: absolute;
    padding: 0 calc(900px / 3);
    min-width: calc(900px / 3);
    min-height: calc(750px / 5);
}

.radio {
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}


.area-label {
    width: inherit;
    text-align: center;
    font-weight: 600;
}

.textarea {
    width: 300px;
    height: 150px;
    background-color: #c6c9ff;
    box-shadow: 1px 1px 8px #fdff78;
}

.input p {
    text-align: center;
    font-size: 14px;
}

.button {
    margin: 20px calc((100% - 200px) /2);
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fdff78;
    background-color: #000035;
    box-shadow: 1px 1px 10px #fdff78;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
}

.button:active {
    box-shadow: 1px 1px 2px #fdff78;
    transform: translate(2px 2px);
}

.lights {
    position: absolute;
    top: 250px;
    left: 300px;
    width: 300px;
    display: none;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.result {
    font-size: 24px;
}

.footer {
    margin: 10px 300px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 14px;
}
.footer a {
    color: #fdff78;
    text-decoration: none;
}